[data-vuetify] .v-application--wrap {
    min-height: initial !important;
}

.fixed-sidebar {
    position: fixed;
    width: 400px !important;
    /* height: 100vh; */
    right: 0px;
    z-index: 99999;
    overflow: auto;
}

.assessments-container {
    max-height: 100vh;
}

/* 
.extension-side-bar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90000;
    border: none;
} */

/* .extension-hidden {
    display: none !important;
} */

/* .extension-dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px; 
    z-index: 999999;
} */

/* .body-no-scroll {
    overflow: hidden !important;
} */

.headline-clickable {
    cursor: pointer;
    background-color: #F0F4C3    ;
}

.new-alt-headline {
    cursor: pointer;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    color: #9E9D24;
}

.headline-modified {
    font-size: 70%;
}

[data-vuetify] .v-badge__badge {
    inset: calc(100% - 10px) auto auto calc(100% - 10px) !important;
}

.interactable {
    cursor: pointer;
}

.rounded-edit-button {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black
}

.title-background-light {
    background-color: #F0F4C3;
}

.title-background-dark {
    background-color: #AFB42B;
}