[data-vuetify] .v-application--wrap {
    min-height: initial !important;
}

.fixed-sidebar {
    position: fixed;
    width: 400px !important;
    right: 0px;
    z-index: 9999;
    overflow: auto;
    top: 0px;
}

.login-style{
    max-height: 100vh;
}

.assessments-container {
    max-height: 99vh;
    position: fixed !important;
    right: 0px;
    z-index: 9999;
    overflow: auto;
    top: 0px;
    width: initial !important;
}

.assessments-pane {
    width: 400px !important;
}

/* 
.extension-side-bar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90000;
    border: none;
} */

/* .extension-hidden {
    display: none !important;
} */

/* .extension-dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px; 
    z-index: 999999;
} */

/* .body-no-scroll {
    overflow: hidden !important;
} */

.headline-clickable {
    cursor: pointer;
    background-color: #F0F4C3    ;
}

.new-alt-headline {
    cursor: pointer;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    color: #9E9D24;
}

.headline-modified {
    font-size: 70%;
}

/* [data-vuetify] .v-badge__badge { */
    /* height: 10px !important;
    min-width: 10px !important; */
    /* inset: calc(100% - 10px) auto auto calc(100% - 10px) !important; */
/* } */

.interactable {
    cursor: pointer;
}

.rounded-edit-button {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black
}

.title-background-light {
    background-color: #F0F4C3;
}

.title-background-dark {
    background-color: #AFB42B;
}

[data-vuetify] .v-badge__badge .v-icon {
    font-size: 17px !important;
    inset: calc(100% - 14px) auto auto calc(100% - 14px) !important;
    color: #827717  !important;
}

[data-vuetify] .v-icon.v-icon {
    width: 15px !important;
}

/* for removing the weird spacing inside the autocompletes which hold chips
[data-vuetify] .v-select__selections {
    padding: 1% !important;
} */