.v-application--wrap {
    min-height: initial !important;
}

[data-vuetify-trustnet] .fixed-sidebar {
    position: fixed;
    width: 400px !important;
    right: 0px;
    z-index: 999999999;
    overflow: auto;
    top: 0px;
}

.login-style{
    max-height: 100vh;
}

[data-vuetify-trustnet] .assessments-container {
    max-height: 99vh;
    position: fixed !important;
    right: 0px;
    z-index: 9999999999;
    overflow: auto;
    top: 0px;
    width: initial !important;
}

[data-vuetify-trustnet] .assessments-pane {
    width: 400px !important;
}

/* 
.extension-side-bar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90000;
    border: none;
} */

/* .extension-hidden {
    display: none !important;
} */

/* .extension-dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px; 
    z-index: 999999;
} */

/* .body-no-scroll {
    overflow: hidden !important;
} */
/* 
.headline-clickable {
    cursor: pointer;
    background-color: #F0F4C3    ;
} */

/* [data-vuetify-trustnet] .new-alt-headline {
    cursor: pointer;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    color: #9E9D24;
}

[data-vuetify-trustnet] .headline-modified {
    font-size: 70%;
} */

/* [data-vuetify] .v-badge__badge { */
    /* height: 10px !important;
    min-width: 10px !important; */
    /* inset: calc(100% - 10px) auto auto calc(100% - 10px) !important; */
/* } */

.interactable {
    cursor: pointer;
}
/* 
[data-vuetify-trustnet] .rounded-edit-button {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black
} */


/* [data-vuetify] .v-badge__badge .v-icon {
    font-size: 17px !important;
    inset: calc(100% - 14px) auto auto calc(100% - 14px) !important;
    color: #827717  !important;
}
*/
[data-vuetify-trustnet] .v-icon.v-icon {
    width: 15px !important;
} 


[data-vuetify-trustnet] .v-badge__badge .v-icon {
    font-size: 17px !important;
    /* inset: calc(100% - 11px) auto auto calc(100% - 15px); */
    color: #827717  !important;
    height: 14px !important;
}

/* [data-vuetify-trustnet] .assessor .v-badge__badge  {
     inset: calc(100% - 10px) auto auto calc(100% - 10px) !important;  
} */

[data-vuetify-trustnet] .v-chip__content .v-avatar {
    overflow: initial;
}

[data-vuetify-trustnet] .v-chip .v-badge__badge .v-icon {
    transform: scale(0.8);
}

/* for removing the weird spacing inside the autocompletes which hold chips
[data-vuetify] .v-select__selections {
    padding: 1% !important;
} */

.link-accuracy-icon {
    transform: scale(0.9);
    vertical-align: bottom;
    margin-right: 2px;
}

/* the second selectors below is for redundancy---certain websites enforce the fill color on icons.
These selectors have a high specificity and ensure that the fill will apply.*/
.link-accuracy-icon-accurate, .link-accuracy-icon.link-accuracy-icon-accurate path{
    color: #00897B !important;
    fill: #00897B !important;
}

.link-accuracy-icon-inaccurate, .link-accuracy-icon.link-accuracy-icon-inaccurate path {
    color: #B71C1C !important;
    fill: #B71C1C !important;
}

.link-accuracy-icon-questioned, .link-accuracy-icon.link-accuracy-icon-questioned path {
    color: #546E7A !important;
    fill: #546E7A !important;
}

*[inaccurate-link=true] {
    opacity: 0.25;
}

.overlay-accuracy-icon {
    z-index: 20;
    position: absolute;
    bottom: -5px;
    right: 0px;
}

*[trustnet-modified-link=true], *[trustnet-modified-question-link=true] {
    position: relative;
}

[data-vuetify-trustnet] .v-select__selections {
    padding: 1%;
}