.v-application--wrap {
    min-height: initial !important;
}

.extension-side-bar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90000;
    border: none;
}

.extension-hidden {
    display: none !important;
}

.extension-dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px; 
    z-index: 999999;
}

/* .body-no-scroll {
    overflow: hidden !important;
} */

.headline-clickable {
    cursor: pointer;
}

.new-alt-headline {
    cursor: pointer;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    color: #9E9D24;
}

.headline-modified {
    font-size: 70%;
}

.v-badge__badge {
    inset: calc(100% - 10px) auto auto calc(100% - 10px) !important;
}